unpackaged/main/default/flows/AhaIdeas_Update_Related_Cases.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>addToCollection</name>
        <label>addToCollection</label>
        <locationX>270</locationX>
        <locationY>1271</locationY>
        <assignmentItems>
            <assignToReference>updateCases</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>caseVariable</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>createCaseComments</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>caseCommentVariable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopIdeaCases</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_updateStatus</name>
        <label>updateStatusAndOwner</label>
        <locationX>402</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>caseVariable.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending - Internal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseVariable.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getQueueID.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseVariable.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopIdeaCases.ahaapp__Case__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateCaseComment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>updateCaseComment</name>
        <label>updateCaseComment</label>
        <locationX>270</locationX>
        <locationY>1163</locationY>
        <assignmentItems>
            <assignToReference>caseCommentVariable.CommentBody</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contextToCase</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseCommentVariable.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>caseVariable.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>addToCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>updateStatus</name>
        <label>updateStatus</label>
        <locationX>138</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>caseVariable.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending - Internal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseVariable.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopIdeaCases.ahaapp__Case__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseVariable.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopIdeaCases.ahaapp__Case__r.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateCaseComment</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>byPassValidation</name>
        <label>byPassValidation</label>
        <locationX>380</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>byPassValidation_NO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Permission.Bypass_FLOW_Rule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getCaseAhaLinks</targetReference>
            </connector>
            <label>byPassValidation_NO</label>
        </rules>
    </decisions>
    <decisions>
        <name>caseOwnerActive</name>
        <label>caseOwnerActive</label>
        <locationX>270</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_updateStatus</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CaseOwnerActive_YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopIdeaCases.ahaapp__Case__r.Owner:User.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateStatus</targetReference>
            </connector>
            <label>CaseOwnerActive_YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>IdeaHasCases</name>
        <label>IdeaHasCases</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IdeaHasCases_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getCaseAhaLinks</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopIdeaCases</targetReference>
            </connector>
            <label>IdeaHasCases_Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>AhaIdeas - Update Related Cases {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AhaIdeas - Update Related Cases</label>
    <loops>
        <name>LoopIdeaCases</name>
        <label>LoopIdeaCases</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <collectionReference>getCaseAhaLinks</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>caseOwnerActive</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>updateCaseCollection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>createCaseCommentsRecords</name>
        <label>createCaseCommentsRecords</label>
        <locationX>50</locationX>
        <locationY>1571</locationY>
        <inputReference>createCaseComments</inputReference>
    </recordCreates>
    <recordLookups>
        <name>getCaseAhaLinks</name>
        <label>getCaseAhaLinks</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getQueueID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ahaapp__Case__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ahaapp__AhaIdea__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ahaapp__AhaIdeaLink__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getQueueID</name>
        <label>getQueueID</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IdeaHasCases</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New_Unassigned</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateCaseCollection</name>
        <label>updateCaseCollection</label>
        <locationX>50</locationX>
        <locationY>1463</locationY>
        <connector>
            <targetReference>createCaseCommentsRecords</targetReference>
        </connector>
        <inputReference>updateCases</inputReference>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>byPassValidation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ahaapp__Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ahaapp__Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Validating Idea</stringValue>
            </value>
        </filters>
        <filters>
            <field>ahaapp__Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Pending Review</stringValue>
            </value>
        </filters>
        <filters>
            <field>ahaapp__Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Ready for Leadership Review</stringValue>
            </value>
        </filters>
        <object>ahaapp__AhaIdea__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>contextToCase</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hello Team,
Aha! Idea {!$Record.Name} has been updated to Status {!$Record.ahaapp__Status__c}.
Please reach out to the reporter and inform them of the current Idea Status.</text>
    </textTemplates>
    <variables>
        <name>caseCommentVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CaseComment</objectType>
    </variables>
    <variables>
        <name>caseVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>createCaseComments</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CaseComment</objectType>
    </variables>
    <variables>
        <name>updateCases</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
