unpackaged/main/default/flows/Approval_Notification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>CPQ_approval_notification</name>
        <label>CPQ approval notification</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>GetCustomNotifationId.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>recepientsIDs</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>&quot;Approval to review&quot;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>tmpNotificationBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>add_recepients_ID</name>
        <label>add recepients ID</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>recepientsIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.sbaa__AssignedTo__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CPQ_approval_notification</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>CPQApprovalreview</name>
        <dataType>String</dataType>
        <value>
            <stringValue>&quot;Please review the list of approval assigned to you&quot;</stringValue>
        </value>
    </constants>
    <environments>Default</environments>
    <formulas>
        <name>tmpNotificationBody</name>
        <dataType>String</dataType>
        <expression>&quot;The Approval record &quot; + {!$Record.Name} + &quot; for the quote: &quot; + {!$Record.Quote__r.Name} + &quot; has been assigned to you. Please click on this message to open it.&quot;</expression>
    </formulas>
    <interviewLabel>Approval Notification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Approval Notification</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>createLog</name>
        <label>createLog</label>
        <locationX>440</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <stringValue>&quot;Approval Notification Flow&quot;</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Text__c</field>
            <value>
                <stringValue>&quot;GetCustoNotificationId failed&quot;</stringValue>
            </value>
        </inputAssignments>
        <object>Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>GetCustomNotifationId</name>
        <label>GetCustomNotifationId</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>add_recepients_ID</targetReference>
        </connector>
        <faultConnector>
            <targetReference>createLog</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Quote_Approval_Custom_Notification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetCustomNotifationId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>sbaa__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Requested</stringValue>
            </value>
        </filters>
        <filters>
            <field>sbaa__AssignedTo__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>sbaa__Approval__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>recepientsIDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
