unpackaged/main/default/flows/BCaccount_Create_case.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>tmpCaseRecord</name>
        <label>tmpCaseRecord</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>tmpRecord.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>tmpDescriptionV2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tmpRecord.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>tmpSubject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tmpRecord.ContactEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Email_Address__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tmpRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getcaseRecordTypeId.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tmpRecord.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getQueues.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tmpRecord.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tmpRecord.Origin</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Automated Task</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tmpRecord.BC_Account_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Brightcove_Account_Id__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>BCAccountId_Create_Case</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>isValidBCAccount</name>
        <label>isValidBCAccount</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account__r.Billing_Customer_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account_Profile__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Trial</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Permission.Bypass_FLOW_Rule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getQueues</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>isThereACSM</name>
        <dataType>String</dataType>
        <expression>IF (ISNULL({!$Record.Account__r.Customer_Success_Manager__r.Id}), &#39;NOT AVAILABLE&#39;, {!$Record.Account__r.Customer_Success_Manager__r.FirstName} + &quot; &quot;+{!$Record.Account__r.Customer_Success_Manager__r.LastName} )</expression>
    </formulas>
    <formulas>
        <name>tmpSubject</name>
        <dataType>String</dataType>
        <expression>&quot;[Automated] Setup New Account For &quot;&amp; {!$Record.Account__r.Name}</expression>
    </formulas>
    <interviewLabel>BCaccount - Create case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>BCaccount - Create case notify TS</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>BCAccountId_Create_Case</name>
        <label>BCAccountId Create Case</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <inputReference>tmpRecord</inputReference>
    </recordCreates>
    <recordLookups>
        <name>getcaseRecordTypeId</name>
        <label>getcaseRecordTypeId</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>tmpCaseRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Technical_Support</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getQueues</name>
        <label>getQueues</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getcaseRecordTypeId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New_Unassigned</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>isValidBCAccount</targetReference>
        </connector>
        <object>Brightcove_Account__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>tmpDescriptionV2</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hi Team,
Please set up the newly created account {!$Record.Brightcove_Account_Id__c} for {!$Record.Account__r.Name}. The account was created by {!$Record.Email_Address__c}.

BC Account: {!$Label.SalesforceURL}/{!$Record.Id}
Salesforce Account Record: {!$Label.SalesforceURL}/{!$Record.Account__r.Id}
Customer Success Manager: {!isThereACSM}
Please note that the Account Manager/Case Contact may not know that this case has been created. Reach out to them for approval to proceed with any account changes.

If the account is not entitled to a CSM please open a CSM Request Case
 
Thank you,
Salesforce team</text>
    </textTemplates>
    <variables>
        <description>skeleton of Case record</description>
        <name>tmpRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
