unpackaged/main/default/flows/CaseCalls_New_Case_Call.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>initCaseComment</name>
        <label>initCaseComment</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>tempCaseCommentRecord.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Case__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempCaseCommentRecord.CommentBody</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>tmpCaseComment</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempCaseCommentRecord.IsPublished</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createCaseCallsComment</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>UserHasBypassValidation</name>
        <label>UserHasBypassValidation</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Permission.Bypass_FLOW_Rule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>initCaseComment</targetReference>
            </connector>
            <label>NO</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>CaseCalls - New Case Call {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CaseCalls - New Case Call</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>createCaseCallsComment</name>
        <label>createCaseCallsComment</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <inputReference>tempCaseCommentRecord</inputReference>
    </recordCreates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>UserHasBypassValidation</targetReference>
        </connector>
        <object>Case_Call__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <description>addts a case comment to the related case</description>
        <name>tmpCaseComment</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&quot;#####CALL MEMO/NEXT STEPS#####&quot; 
{!$Record.Call_Memo_Next_Steps__c}</text>
    </textTemplates>
    <variables>
        <name>tempCaseCommentRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CaseComment</objectType>
    </variables>
</Flow>
