unpackaged/main/default/flows/CaseComment_NewPortalCommnet.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>increateIncomingEmailCount</name>
        <label>increateIncomingEmailCount</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>tmpEmailCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateCaseStatus</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>initTmpEmailCount</name>
        <label>initTmpEmailCount</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>tmpEmailCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Parent.Incoming_email_count__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>increateIncomingEmailCount</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>createdBy</name>
        <label>createdBy</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>customerPortal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CreatedBy.Profile.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Portal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>initTmpEmailCount</targetReference>
            </connector>
            <label>customerPortal</label>
        </rules>
        <rules>
            <name>internalEmployee</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CreatedBy.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parent.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NOC_Cases</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parent.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Technical_Support</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_updateCaseStatus</targetReference>
            </connector>
            <label>internalEmployeeForTSCases</label>
        </rules>
    </decisions>
    <decisions>
        <name>UserHasBypassValidation</name>
        <label>UserHasBypassValidation</label>
        <locationX>578</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Permission.Bypass_FLOW_Rule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>createdBy</targetReference>
            </connector>
            <label>NO</label>
        </rules>
    </decisions>
    <description>It updates the case status when there&#39;s a new Comment from the portal or from an internal employee</description>
    <environments>Default</environments>
    <interviewLabel>CaseComment - NewPortalCommnet {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CaseComment - NewCommentCreated</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Copy_1_of_updateCaseStatus</name>
        <label>Copy 1 of updateCaseStatus</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Customer has replied</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Parent</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateCaseStatus</name>
        <label>updateCaseStatus</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <inputAssignments>
            <field>Incoming_email_count__c</field>
            <value>
                <elementReference>tmpEmailCount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Customer has replied</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Parent</inputReference>
    </recordUpdates>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>UserHasBypassValidation</targetReference>
        </connector>
        <object>CaseComment</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>tmpEmailCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
