unpackaged/main/default/flows/Case_Add_Account_Default_CCs_to_Case.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>assignCSVList</name>
        <label>assignCSVList</label>
        <locationX>314</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>varDefaultCCList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!loopDefaultCC.Contact.Email};</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopDefaultCC</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>countDefaultCCs</name>
        <label>countDefaultCCs</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>countDefaultCaseCCs</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>keepOnlyDefaultCCs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_1</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>keepOnlyDefaultCCs</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>keepOnlyDefaultCCs</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignNextValueToReference>currentItem_keepOnlyDefaultCCs</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>GetRelationship</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_keepOnlyDefaultCCs.Roles</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <stringValue>Default Support Case CC</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>countDefaultCCs</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Decision_1</name>
        <label>emptyDefaultCC</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>loopDefaultCC</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>countDefaultCaseCCs</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>UserHasBypassValidation</name>
        <label>UserHasBypassValidation</label>
        <locationX>270</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Permission.Bypass_FLOW_Rule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetRelationship</targetReference>
            </connector>
            <label>NO</label>
        </rules>
    </decisions>
    <description>Updated Role Name Change</description>
    <environments>Default</environments>
    <formulas>
        <name>tmpAdditionalCCList</name>
        <dataType>String</dataType>
        <expression>{!varDefaultCCList}+{!$Record.E2CP__AdditionalCC__c}</expression>
    </formulas>
    <interviewLabel>Case - Add Account Default CCs to Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case - Add Account Default CCs to Case</label>
    <loops>
        <name>loopDefaultCC</name>
        <label>loopDefaultCC</label>
        <locationX>226</locationX>
        <locationY>863</locationY>
        <collectionReference>keepOnlyDefaultCCs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assignCSVList</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>addDefaultCC</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetRelationship</name>
        <label>GetRelationship</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>keepOnlyDefaultCCs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Roles</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AccountContactRelation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>addDefaultCC</name>
        <label>addDefaultCC</label>
        <locationX>226</locationX>
        <locationY>1163</locationY>
        <inputAssignments>
            <field>E2CP__AdditionalCC__c</field>
            <value>
                <elementReference>tmpAdditionalCCList</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>144</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>UserHasBypassValidation</targetReference>
        </connector>
        <filterFormula>AND(
CONTAINS({!$Record.RecordType.DeveloperName}, &quot;Technical_Support&quot;),
NOT(CONTAINS({!$Record.Contact.Email}, &quot;brightcove.com&quot;)),
NOT(ISNULL({!$Record.Account.Id})),
OR(
ISNEW(),
ISCHANGED({!$Record.Account.Id}),
ISCHANGED({!$Record.Contact.Id})
)
)</filterFormula>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>countDefaultCaseCCs</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>currentItem_keepOnlyDefaultCCs</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountContactRelation</objectType>
    </variables>
    <variables>
        <name>defaultCCList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDefaultCCList</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
