unpackaged/main/default/flows/Case_CSATSurveyEmailAlert.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Copy_1_of_EnglishCSAT_Default</name>
        <label>Copy 1 of EnglishCSAT-Default</label>
        <locationX>2091</locationX>
        <locationY>1535</locationY>
        <actionName>Case.CSAT_Survey_Default</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.CSAT_Survey_Default</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>CSAT_NOC_Survey_Default</name>
        <label>CSAT NOC Survey (Default)</label>
        <locationX>2619</locationX>
        <locationY>1535</locationY>
        <actionName>Case.CSAT_NOC_Survey_Default</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.CSAT_NOC_Survey_Default</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>CSAT_NOC_Survey_JA</name>
        <label>CSAT NOC Survey JA</label>
        <locationX>2355</locationX>
        <locationY>1535</locationY>
        <actionName>Case.CSAT_NOC_Survey_JA</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.CSAT_NOC_Survey_JA</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>CSAT_Survey_Close_Case_FR</name>
        <label>CSAT Survey - Close Case (FR)</label>
        <locationX>1827</locationX>
        <locationY>1535</locationY>
        <actionName>Case.CSAT_Survey_Close_Case_FR</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.CSAT_Survey_Close_Case_FR</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>CSAT_Survey_Close_Case_JP</name>
        <label>CSAT Survey - Close Case (JP)</label>
        <locationX>1035</locationX>
        <locationY>1535</locationY>
        <actionName>Case.CSAT_Survey_Close_Case_JP</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.CSAT_Survey_Close_Case_JP</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>CSAT_Survey_Close_Case_KO</name>
        <label>CSAT Survey - Close Case (KO)</label>
        <locationX>1563</locationX>
        <locationY>1535</locationY>
        <actionName>Case.CSAT_Survey_Close_Case_KO</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.CSAT_Survey_Close_Case_KO</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>CSAT_Survey_Close_Case_SP</name>
        <label>CSAT Survey - Close Case (SP)</label>
        <locationX>1299</locationX>
        <locationY>1535</locationY>
        <actionName>Case.CSAT_Survey_Close_Case_SP</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.CSAT_Survey_Close_Case_SP</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>EnglishCSAT_Default</name>
        <label>EnglishCSAT-Default</label>
        <locationX>771</locationX>
        <locationY>1535</locationY>
        <actionName>Case.CSAT_Survey_Default</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.CSAT_Survey_Default</nameSegment>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>caseLanguage</name>
        <label>caseLanguage</label>
        <locationX>1431</locationX>
        <locationY>1427</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_EnglishCSAT_Default</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isEnglish</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Case_Language__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>English</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EnglishCSAT_Default</targetReference>
            </connector>
            <label>isEnglish</label>
        </rules>
        <rules>
            <name>isJapanese</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Case_Language__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Japanese</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CSAT_Survey_Close_Case_JP</targetReference>
            </connector>
            <label>isJapanese</label>
        </rules>
        <rules>
            <name>isSpanish</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Case_Language__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Spanish</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CSAT_Survey_Close_Case_SP</targetReference>
            </connector>
            <label>isSpanish</label>
        </rules>
        <rules>
            <name>isKorean</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Case_Language__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Korean</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CSAT_Survey_Close_Case_KO</targetReference>
            </connector>
            <label>isKorean</label>
        </rules>
        <rules>
            <name>isFrench</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Case_Language__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>French</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CSAT_Survey_Close_Case_FR</targetReference>
            </connector>
            <label>isFrench</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_caseLanguage</name>
        <label>Copy 1 of caseLanguage</label>
        <locationX>2487</locationX>
        <locationY>1427</locationY>
        <defaultConnector>
            <targetReference>CSAT_NOC_Survey_Default</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_isJapanese</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Case_Language__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Japanese</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CSAT_NOC_Survey_JA</targetReference>
            </connector>
            <label>Copy 1 of isJapanese</label>
        </rules>
    </decisions>
    <decisions>
        <name>isCaseRecordType</name>
        <label>isCaseRecordType</label>
        <locationX>2157</locationX>
        <locationY>1211</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isCaseTechnicalSupport</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Technical_Support</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateSurveyNumber</targetReference>
            </connector>
            <label>isCaseTechnicalSupport</label>
        </rules>
        <rules>
            <name>isNoc_Cases</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NOC_Cases</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_updateSurveyNumber</targetReference>
            </connector>
            <label>isNoc Cases</label>
        </rules>
    </decisions>
    <decisions>
        <name>isCaseSubReason</name>
        <label>isCaseSubReason</label>
        <locationX>50</locationX>
        <locationY>779</locationY>
        <defaultConnector>
            <targetReference>LiveChat_8Hours_SurveySent</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NOC_Report</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Case_Sub_reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NOC Report</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case_Sub_reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No action</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case_Sub_reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BC Employee Last Day</stringValue>
                </rightValue>
            </conditions>
            <label>NOC Report</label>
        </rules>
    </decisions>
    <decisions>
        <name>isClosedUnresolvedNotEnhancement</name>
        <label>isClosedUnresolvedNotEnhancement</label>
        <locationX>788</locationX>
        <locationY>995</locationY>
        <defaultConnector>
            <targetReference>isSendSurvey</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YES2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed - Unresolved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Root_Cause__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Enhancement Request</stringValue>
                </rightValue>
            </conditions>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>isSendSurvey</name>
        <label>isSendSurvey</label>
        <locationX>1332</locationX>
        <locationY>1103</locationY>
        <defaultConnector>
            <targetReference>isCaseRecordType</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NotifyContactOff</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Notify_Contact_on_Close_Case__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_updateSurveyNumber</targetReference>
            </connector>
            <label>NotifyContactOff</label>
        </rules>
    </decisions>
    <decisions>
        <name>LiveChat_8Hours_SurveySent</name>
        <label>LiveChat-8Hours-SurveySent</label>
        <locationX>384</locationX>
        <locationY>887</locationY>
        <defaultConnector>
            <targetReference>isClosedUnresolvedNotEnhancement</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Live Chat</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Survey_Sent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>hoursFromCreation</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>8.0</numberValue>
                </rightValue>
            </conditions>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if the survey should be sent or not based on if the case already received a survey.</description>
        <name>SurveyShouldBeSentAgain</name>
        <label>SurveyShouldBeSentAgain</label>
        <locationX>1752</locationX>
        <locationY>276</locationY>
        <defaultConnector>
            <targetReference>UserHasBypassValidation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Survey</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Survey_Response__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>CaseHasSurveyAlready</label>
        </rules>
    </decisions>
    <decisions>
        <name>UserHasBypassValidation</name>
        <label>UserHasBypassValidation</label>
        <locationX>1598</locationX>
        <locationY>671</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Permission.Bypass_FLOW_Rule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>isCaseSubReason</targetReference>
            </connector>
            <label>NO</label>
        </rules>
    </decisions>
    <description>Reminder implemented</description>
    <environments>Default</environments>
    <formulas>
        <name>hoursFromCreation</name>
        <dataType>Number</dataType>
        <expression>ABS({!$Flow.CurrentDateTime} -  {!$Record.CreatedDate})</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Case - CSATSurveyEmailAlert {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case - CSATSurveyEmailAlertClosedCase</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Copy_1_of_updateSurveyNumber</name>
        <label>Survey Sent is True</label>
        <locationX>507</locationX>
        <locationY>1211</locationY>
        <inputAssignments>
            <field>Survey_Sent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_2_of_updateSurveyNumber</name>
        <label>Copy 2 of updateSurveyNumber</label>
        <locationX>2487</locationX>
        <locationY>1319</locationY>
        <connector>
            <targetReference>Copy_1_of_caseLanguage</targetReference>
        </connector>
        <inputAssignments>
            <field>Survey_Number__c</field>
            <value>
                <stringValue>1</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Sent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateSurveyNumber</name>
        <label>updateSurveyNumber</label>
        <locationX>1431</locationX>
        <locationY>1319</locationY>
        <connector>
            <targetReference>caseLanguage</targetReference>
        </connector>
        <inputAssignments>
            <field>Survey_Number__c</field>
            <value>
                <stringValue>1</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Sent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1472</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>UserHasBypassValidation</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Notify_Contact_on_Close_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed - Spam</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed - Duplicate</stringValue>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Support Portal New User</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Merged</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <name>Delay_Survey_Path</name>
            <connector>
                <targetReference>SurveyShouldBeSentAgain</targetReference>
            </connector>
            <label>Delay Survey Path</label>
            <offsetNumber>0</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>Schedule_Survey_Reminder__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
