unpackaged/main/default/flows/Case_Add_Named_Contacts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>assignCSVList</name>
        <label>assignCSVList</label>
        <locationX>490</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>namedContactEmailList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!loopNamedContacts.Contact.Email}; </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopNamedContacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>countNamedContactsFound</name>
        <label>countNamedContactsFound</label>
        <locationX>226</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>countNamedContacts</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>keepNamedSupportContacts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>emptyNamedContacts</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>keepNamedSupportContacts</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>keepNamedSupportContacts</label>
        <locationX>226</locationX>
        <locationY>350</locationY>
        <assignNextValueToReference>currentItem_keepNamedSupportContacts</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>GetRelationship</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_keepNamedSupportContacts.Roles</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <stringValue>Named Support Contact</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>countNamedContactsFound</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>emptyNamedContacts</name>
        <label>emptyNamedContacts</label>
        <locationX>226</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>loopNamedContacts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>countNamedContacts</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NOContacts</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>tmpAdditionalCCList</name>
        <dataType>String</dataType>
        <expression>{!namedContactEmailList}+{!GetCase.E2CP__AdditionalCC__c}</expression>
    </formulas>
    <interviewLabel>Case - Add Named Contacts {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case - Add Named Contacts</label>
    <loops>
        <name>loopNamedContacts</name>
        <label>loopNamedContacts</label>
        <locationX>402</locationX>
        <locationY>674</locationY>
        <collectionReference>keepNamedSupportContacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assignCSVList</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Items</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetCase</name>
        <label>GetCase</label>
        <locationX>226</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetRelationship</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetRelationship</name>
        <label>GetRelationship</label>
        <locationX>226</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>keepNamedSupportContacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetCase.Account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Roles</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AccountContactRelation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>addNamedSupportContacts</name>
        <label>addNamedSupportContacts</label>
        <locationX>402</locationX>
        <locationY>1082</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetCase.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>E2CP__AdditionalCC__c</field>
            <value>
                <elementReference>tmpAdditionalCCList</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <screens>
        <name>Items</name>
        <label>Items</label>
        <locationX>402</locationX>
        <locationY>974</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>addNamedSupportContacts</targetReference>
        </connector>
        <fields>
            <name>itemstext</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Previous emails on Additional To: {!GetCase.E2CP__AdditionalTo__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Previous emails on CC:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!GetCase.E2CP__AdditionalCC__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Do you want to add the following emails as Additional CC?  Close the Window if you wish to cancel the action.&lt;/p&gt;&lt;p&gt;{!namedContactEmailList}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Add Named Support Contact</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>NOContacts</name>
        <label>NOContacts</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NoContactsText</name>
            <fieldText>&lt;p&gt;There are no Named Support Contacts for account {!GetCase.Account.Name}.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please reach out to the Account&#39;s CSM to add Named Support Contacts&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Ok</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>100</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetCase</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>contact</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>countNamedContacts</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>currentItem_keepNamedSupportContacts</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountContactRelation</objectType>
    </variables>
    <variables>
        <name>namedContactEmailList</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>namedContactEmails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
