unpackaged/main/default/flows/Case_EscalationUpdateParentCase.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>updateTmpParentId</name>
        <label>updateTmpParentId</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>tmpCaseParentId.Number_Of_Escalations__c</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tmpCaseParentId.CS_Escalation_Owner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>tmpEscalationOwner</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tmpCaseParentId.Case_Escalated__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateParentIdCase</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>isCSEscalation</name>
        <label>isCSEscalation</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YES_isCSEscalation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Case_Escalation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parent.Origin</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Escalation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getParentIdCase</targetReference>
            </connector>
            <label>YES_isCSEscalation</label>
        </rules>
    </decisions>
    <decisions>
        <name>UserHasBypassValidation</name>
        <label>UserHasBypassValidation</label>
        <locationX>380</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Permission.Bypass_FLOW_Rule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>isCSEscalation</targetReference>
            </connector>
            <label>NO</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>tmpEscalationOwner</name>
        <dataType>String</dataType>
        <expression>{!$Record.Owner:User.FirstName}&amp; &quot; &quot; &amp; {!$Record.Owner:User.LastName}</expression>
    </formulas>
    <interviewLabel>Case - EscalationUpdateParentCase {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case - EscalationUpdateParentCase</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getParentIdCase</name>
        <label>getParentIdCase</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>updateTmpParentId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>tmpCaseParentId</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Case_Escalated__c</queriedFields>
        <queriedFields>Number_Of_Escalations__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>updateParentIdCase</name>
        <label>updateParentIdCase</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <inputReference>tmpCaseParentId</inputReference>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>UserHasBypassValidation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ParentId</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>tmpCaseParentId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
