unpackaged/main/default/flows/Case_CS_Escalation_Owner_Change.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>isRecordTypeEscalation</name>
        <label>isRecordTypeEscalation</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isEscalation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Case_Escalation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateCsEscalationOwner</targetReference>
            </connector>
            <label>isEscalation</label>
        </rules>
    </decisions>
    <decisions>
        <name>UserHasBypassValidation</name>
        <label>UserHasBypassValidation</label>
        <locationX>336</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Permission.Bypass_FLOW_Rule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>isRecordTypeEscalation</targetReference>
            </connector>
            <label>NO</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>tmpOwnerName</name>
        <dataType>String</dataType>
        <expression>{!$Record.Owner:User.FirstName}+&quot; &quot;+ {!$Record.Owner:User.LastName}</expression>
    </formulas>
    <interviewLabel>Case - CS Escalation Owner Change {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case - CS Escalation Owner Change</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>updateCsEscalationOwner</name>
        <label>updateCsEscalationOwner</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>CS_Escalation_Owner__c</field>
            <value>
                <elementReference>tmpOwnerName</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Parent</inputReference>
    </recordUpdates>
    <start>
        <locationX>210</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>UserHasBypassValidation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ParentId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>005</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
