unpackaged/main/default/flows/Community_Member_New_Notification_2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>New_Community_Member_AM</name>
        <label>New Community Member AM</label>
        <locationX>50</locationX>
        <locationY>1187</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>isQualifiedCSM</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>notificationRecepientAMId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>salesforce+alerts@brightcove.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>notification_title</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>notification_body_AccountOwmer</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>New_Community_Member_CSM</name>
        <label>New Community Member CSM</label>
        <locationX>50</locationX>
        <locationY>1487</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>notificationRecipientCSM</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>salesforce+alerts@brightcove.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>notification_title</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>notification_body_CSM</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>assignAccountCSM</name>
        <label>assignAccountCSM</label>
        <locationX>380</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>notificationRecipientCSM</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getAccount.Customer_Success_Manager__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CSMName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getCSMName.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>initAccountIdContactId</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignAccountOwner</name>
        <label>assignAccountOwner</label>
        <locationX>380</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>notificationRecepientAMId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getAccount.Owner.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountOwnerName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getAMName.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getCSMName</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>initAccountIdContactId</name>
        <label>initAccountIdContactId</label>
        <locationX>380</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>accountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Contact__r.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Contact__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>isQualifiedAccount</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>isQualifiedAccount</name>
        <label>isQualifiedAccount</label>
        <locationX>380</locationX>
        <locationY>971</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getAccount.Account_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getAccount.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>isQualifiedAccountManager</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>isQualifiedAccountManager</name>
        <label>isQualifiedAccountManager</label>
        <locationX>182</locationX>
        <locationY>1079</locationY>
        <defaultConnector>
            <targetReference>isQualifiedCSM</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YES_AccountOwner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getAccount.Owner.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Brightcove Development</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getAccount.Owner.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Community_Member_AM</targetReference>
            </connector>
            <label>YES AccountOwner</label>
        </rules>
    </decisions>
    <decisions>
        <name>isQualifiedCSM</name>
        <label>isQualifiedCSM</label>
        <locationX>182</locationX>
        <locationY>1379</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YES_CSM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getAccount.Customer_Success_Manager__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getAccount.Customer_Success_Manager__r.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Community_Member_CSM</targetReference>
            </connector>
            <label>YES CSM</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>accountURL</name>
        <dataType>String</dataType>
        <expression>&#39;https://brightcove2.lightning.force.com/&#39;&amp;{!accountId}</expression>
    </formulas>
    <formulas>
        <name>contactURL</name>
        <dataType>String</dataType>
        <expression>&#39;https://brightcove2.lightning.force.com/&#39;&amp;{!contactId}</expression>
    </formulas>
    <interviewLabel>Community Member - New Notification 2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Community Member - New Notification 2</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getAccount</name>
        <label>getAccount</label>
        <locationX>380</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getAMName</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contact__r.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getAMName</name>
        <label>getAMName</label>
        <locationX>380</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assignAccountOwner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getAccount.OwnerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getCSMName</name>
        <label>getCSMName</label>
        <locationX>380</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assignAccountCSM</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getAccount.Customer_Success_Manager__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getAccount</targetReference>
        </connector>
        <object>Community_Member__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>notification_body_AccountOwmer</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;em&gt; Hi  {!AccountOwnerName} &lt;/em&gt;&lt;/p&gt;&lt;p&gt;&lt;em&gt;a new user has registered on the Bright Spot community, see below the details:&lt;/em&gt;&lt;/p&gt;&lt;ol&gt;&lt;li&gt;&lt;em&gt;User Name: &lt;/em&gt;&lt;a href=&quot;{!contactURL}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;em&gt;{!$Record.Name}&lt;/em&gt;&lt;/a&gt;&lt;/li&gt;&lt;li&gt;&lt;a href=&quot;{!accountURL}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;em&gt;Account&lt;/em&gt;&lt;/a&gt;&lt;em&gt; (salesforce LINK to the account)&lt;/em&gt;&lt;/li&gt;&lt;li&gt;&lt;a href=&quot;{!contactURL}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;em&gt;Emails&lt;/em&gt;&lt;/a&gt;&lt;em&gt; (email from the related contact record)&lt;/em&gt;&lt;/li&gt;&lt;li&gt;&lt;a href=&quot;{!$Record.communityURL__c}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;em&gt;Bright Spot Account&lt;/em&gt;&lt;/a&gt;&lt;em&gt; (Community LINK to their Profile)&lt;/em&gt;&lt;/li&gt;&lt;/ol&gt;&lt;p&gt;&lt;em&gt;Thank you,&lt;/em&gt;&lt;/p&gt;&lt;p&gt;&lt;em&gt;Team Bright Spot&lt;/em&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>notification_body_CSM</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;em&gt;Hi  {!CSMName}&lt;/em&gt;&lt;/p&gt;&lt;p&gt;&lt;em&gt;a new user has registered on the Bright Spot community, see below the details:&lt;/em&gt;&lt;/p&gt;&lt;ol&gt;&lt;li&gt;&lt;em&gt;User Name: &lt;/em&gt;&lt;a href=&quot;{!contactURL}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;em&gt;{!$Record.Name}&lt;/em&gt;&lt;/a&gt;&lt;/li&gt;&lt;li&gt;&lt;a href=&quot;{!accountURL}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;em&gt;Account&lt;/em&gt;&lt;/a&gt;&lt;em&gt; (salesforce LINK to the account)&lt;/em&gt;&lt;/li&gt;&lt;li&gt;&lt;em&gt;Emails (email from the related contact record)&lt;/em&gt;&lt;/li&gt;&lt;li&gt;&lt;a href=&quot;{!$Record.communityURL__c}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;em&gt;Bright Spot Account&lt;/em&gt;&lt;/a&gt;&lt;em&gt; (Community LINK to their Profile)&lt;/em&gt;&lt;/li&gt;&lt;/ol&gt;&lt;p&gt;&lt;em&gt;Thank you,&lt;/em&gt;&lt;/p&gt;&lt;p&gt;&lt;em&gt;Team Bright Spot&lt;/em&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>notification_title</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>A new user joined the Community</text>
    </textTemplates>
    <variables>
        <name>accountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AccountOwnerName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CSMName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>notification_recipients</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>notificationRecepientAMId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>notificationRecipientCSM</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
