unpackaged/main/default/flows/Contact_Role_New_Named_Support_Contact_Welcome_email.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Welcome_To_Support_Gold</name>
        <label>Welcome To Support Gold</label>
        <locationX>50</locationX>
        <locationY>1595</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Copy_1_of_createTaskCase</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Contact.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <elementReference>EmailTemplate.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>bccRecipientAddressList</name>
            <value>
                <elementReference>$User.Email</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Welcome_To_Support_Platinum</name>
        <label>Welcome To Support Platinum</label>
        <locationX>578</locationX>
        <locationY>1595</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Copy_1_of_createTaskCase</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Contact.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <elementReference>EmailTemplate.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>bccRecipientAddressList</name>
            <value>
                <elementReference>$User.Email</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Welcome_To_Support_Silver</name>
        <label>Welcome To Support Silver</label>
        <locationX>314</locationX>
        <locationY>1595</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Copy_1_of_createTaskCase</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Contact.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <elementReference>EmailTemplate.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>bccRecipientAddressList</name>
            <value>
                <elementReference>$User.Email</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>AddNamedContacts</name>
        <label>AddNamedContacts</label>
        <locationX>864</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>newNamedSupportList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ttLoopText</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newNamedSupportList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ttLineBreak</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopNamedContacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_createTaskCase</name>
        <label>createTaskCase</label>
        <locationX>446</locationX>
        <locationY>1787</locationY>
        <assignmentItems>
            <assignToReference>newTaskCase.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTaskCase.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>caseSubject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTaskCase.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>caseDescriptionNonJapanese</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTaskCase.Origin</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Automatic Process</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTaskCase.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>P3 - Normal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTaskCase.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetNewandUnassignedID.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTaskCase.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getTechnicalSupportRecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Records_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>createTaskCase</name>
        <label>createTaskCase</label>
        <locationX>1106</locationX>
        <locationY>1379</locationY>
        <assignmentItems>
            <assignToReference>newTaskCase.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTaskCase.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>caseSubjectJapanese</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTaskCase.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>caseDescription</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTaskCase.Origin</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Automatic Process</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTaskCase.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>P3 - Normal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTaskCase.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetNewandUnassignedID.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTaskCase.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getTechnicalSupportRecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Records_1</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>keepNamedSupportContacts</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>keepNamedSupportContacts</label>
        <locationX>776</locationX>
        <locationY>539</locationY>
        <assignNextValueToReference>currentItem_keepNamedSupportContacts</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Named_Support_Contacts</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_keepNamedSupportContacts.Roles</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <stringValue>Named Support Contact</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>GetNewandUnassignedID</targetReference>
        </connector>
    </collectionProcessors>
    <constants>
        <name>LineBreak</name>
        <dataType>String</dataType>
        <value>
            <stringValue></stringValue>
        </value>
    </constants>
    <decisions>
        <name>ByPassPermission</name>
        <label>ByPassPermission</label>
        <locationX>1073</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Permission.ByPass_Named_Support_Contact_Auto_Welcome_email</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Named_Support_Contacts</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsJapanese</name>
        <label>IsJapanese</label>
        <locationX>776</locationX>
        <locationY>1271</locationY>
        <defaultConnector>
            <targetReference>createTaskCase</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NoJapanese</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Sales_Division__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Japan</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SupportPackage</targetReference>
            </connector>
            <label>NoJapanese</label>
        </rules>
    </decisions>
    <decisions>
        <name>SupportPackage</name>
        <label>SupportPackage</label>
        <locationX>446</locationX>
        <locationY>1379</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Gold</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Support_package__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Gold</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetGoldTemplate</targetReference>
            </connector>
            <label>Gold</label>
        </rules>
        <rules>
            <name>Silver</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Support_package__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Silver</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetSilverTemplate</targetReference>
            </connector>
            <label>Silver</label>
        </rules>
        <rules>
            <name>Platinum</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Support_package__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Platinum</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetPlatinumTemplate</targetReference>
            </connector>
            <label>Platinum</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Contact Role - New Named Support Contact Welcome email {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact Role - New Named Support Contact Welcome email</label>
    <loops>
        <name>LoopNamedContacts</name>
        <label>LoopNamedContacts</label>
        <locationX>776</locationX>
        <locationY>863</locationY>
        <collectionReference>keepNamedSupportContacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AddNamedContacts</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateAccountNamedSupportContactText</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Records_1</name>
        <label>Create Records 1</label>
        <locationX>776</locationX>
        <locationY>1979</locationY>
        <inputReference>newTaskCase</inputReference>
    </recordCreates>
    <recordLookups>
        <name>GetGoldTemplate</name>
        <label>GetGoldTemplate</label>
        <locationX>50</locationX>
        <locationY>1487</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Welcome_To_Support_Gold</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AUTO Welcome to Support - Gold - 2024</stringValue>
            </value>
        </filters>
        <object>EmailTemplate</object>
        <outputReference>EmailTemplate</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetNewandUnassignedID</name>
        <label>GetNewandUnassignedID</label>
        <locationX>776</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getTechnicalSupportRecordType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New_unassigned</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetPlatinumTemplate</name>
        <label>GetPlatinumTemplate</label>
        <locationX>578</locationX>
        <locationY>1487</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Welcome_To_Support_Platinum</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AUTO Welcome to Support - Platinum - 2024</stringValue>
            </value>
        </filters>
        <object>EmailTemplate</object>
        <outputReference>EmailTemplate</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetSilverTemplate</name>
        <label>GetSilverTemplate</label>
        <locationX>314</locationX>
        <locationY>1487</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Welcome_To_Support_Silver</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AUTO Welcome to Support - Silver - 2024</stringValue>
            </value>
        </filters>
        <object>EmailTemplate</object>
        <outputReference>EmailTemplate</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getTechnicalSupportRecordType</name>
        <label>getTechnicalSupportRecordType</label>
        <locationX>776</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopNamedContacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Technical_Support</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Named_Support_Contacts</name>
        <label>Named Support Contacts</label>
        <locationX>776</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>keepNamedSupportContacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Roles</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AccountContactRelation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateAccountNamedSupportContactText</name>
        <label>UpdateAccountNamedSupportContactText</label>
        <locationX>776</locationX>
        <locationY>1163</locationY>
        <connector>
            <targetReference>IsJapanese</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Named_Contact_List__c</field>
            <value>
                <elementReference>newNamedSupportList</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>947</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ByPassPermission</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Roles</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Named Support Contact</stringValue>
            </value>
        </filters>
        <object>AccountContactRelation</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>caseDescription</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hello Team,
{!$User.FirstName} {!$User.LastName} ({!$User.Email}) has added a new Named Support Contact to {!$Record.Account.Name}.
Please give the following user access to the Support Portal as admin {!$Record.Account.Support_package__c} and have a Japanese Speaker send the Welcome to Support Email. Make sure the Support Portal Language is set to Japanese.
Contact: {!$Record.Contact.FirstName} {!$Record.Contact.LastName}.
Email: {!$Record.Contact.Email}


Notify {!$User.FirstName} once the task has been completed.</text>
    </textTemplates>
    <textTemplates>
        <name>caseDescriptionNonJapanese</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hello Team,
{!$User.FirstName} {!$User.LastName} ({!$User.Email}) has added a new Named Support Contact to {!$Record.Account.Name}. The Welcome to Support Email has already been sent to the contact.

Please give the following user access to the Support Portal as admin {!$Record.Account.Support_package__c}.
Contact: {!$Record.Contact.FirstName} {!$Record.Contact.LastName}.
Email: {!$Record.Contact.Email}

Notify {!$User.FirstName} once the task has been completed.</text>
    </textTemplates>
    <textTemplates>
        <name>caseSubject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>New Named Support Contact - {!$Record.Account.Name}</text>
    </textTemplates>
    <textTemplates>
        <name>caseSubjectJapanese</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>New Named Support Contact - {!$Record.Account.Name} - Japanese</text>
    </textTemplates>
    <textTemplates>
        <name>ttLineBreak</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!LineBreak}
{!LineBreak}</text>
    </textTemplates>
    <textTemplates>
        <name>ttLoopText</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!LoopNamedContacts.Contact.FirstName} {!LoopNamedContacts.Contact.LastName} - {!LoopNamedContacts.Contact.Email}</text>
    </textTemplates>
    <variables>
        <name>currentItem_keepNamedSupportContacts</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountContactRelation</objectType>
    </variables>
    <variables>
        <name>EmailTemplate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EmailTemplate</objectType>
    </variables>
    <variables>
        <name>newNamedSupportList</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newTaskCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
