unpackaged/main/default/flows/Contract_Change_Start_Date.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Add_Subscription_to_Collection</name>
        <label>Add Subscription to Collection</label>
        <locationX>396</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>subscriptionsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>For_Each_Subscription</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_Each_Subscription</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Contract_Dates</name>
        <label>Assign Contract Dates</label>
        <locationX>176</locationX>
        <locationY>1058</locationY>
        <assignmentItems>
            <assignToReference>Get_Contract.StartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Contract_Start_Date</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contract</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Offset_Dates</name>
        <label>Assign Offset Dates</label>
        <locationX>528</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>For_Each_Subscription.SBQQ__StartDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StartDateOffseted</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>For_Each_Subscription.SBQQ__SubscriptionStartDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SubscriptionStartDateOffsetted</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>For_Each_Subscription.SBQQ__EndDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EndDateOffsetted</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>For_Each_Subscription.SBQQ__SubscriptionEndDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SubscriptionEndDateOffsetted</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Subscription_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Offset_Dates_Segmented</name>
        <label>Assign Offset Dates (Segmented)</label>
        <locationX>264</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>For_Each_Subscription.SBQQ__StartDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StartDateOffseted</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>For_Each_Subscription.SBQQ__SegmentStartDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SegmentStartDateOffsetted</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>For_Each_Subscription.SBQQ__SubscriptionStartDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SubscriptionStartDateOffsetted</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>For_Each_Subscription.SBQQ__EndDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EndDateOffsetted</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>For_Each_Subscription.SBQQ__SegmentEndDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SegmentedEndDateOffsetted</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>For_Each_Subscription.SBQQ__SubscriptionEndDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SubscriptionEndDateOffsetted</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Subscription_to_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Subscription_Segmented</name>
        <label>Is Subscription Segmented?</label>
        <locationX>396</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Assign_Offset_Dates</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Segmented</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>For_Each_Subscription.SBQQ__SegmentIndex__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Offset_Dates_Segmented</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Used as a last resort for revops to easily be able to change a contract&#39;s start date (within limitations of SFDC)</description>
    <environments>Default</environments>
    <formulas>
        <name>EndDateOffsetted</name>
        <dataType>Date</dataType>
        <expression>{!For_Each_Subscription.SBQQ__EndDate__c} + {!startDateOffsetFormula}</expression>
    </formulas>
    <formulas>
        <name>SegmentedEndDateOffsetted</name>
        <dataType>Date</dataType>
        <expression>{!For_Each_Subscription.SBQQ__SegmentEndDate__c} + {!startDateOffsetFormula}</expression>
    </formulas>
    <formulas>
        <name>SegmentStartDateOffsetted</name>
        <dataType>Date</dataType>
        <expression>{!For_Each_Subscription.SBQQ__SegmentStartDate__c} + {!startDateOffsetFormula}</expression>
    </formulas>
    <formulas>
        <name>StartDateOffseted</name>
        <dataType>Date</dataType>
        <expression>{!For_Each_Subscription.SBQQ__StartDate__c} + {!startDateOffsetFormula}</expression>
    </formulas>
    <formulas>
        <name>startDateOffsetFormula</name>
        <dataType>Number</dataType>
        <expression>{!New_Contract_Start_Date} - {!Get_Contract.StartDate}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>SubscriptionEndDateOffsetted</name>
        <dataType>Date</dataType>
        <expression>{!For_Each_Subscription.SBQQ__SubscriptionEndDate__c} + {!startDateOffsetFormula}</expression>
    </formulas>
    <formulas>
        <name>SubscriptionStartDateOffsetted</name>
        <dataType>Date</dataType>
        <expression>{!For_Each_Subscription.SBQQ__SubscriptionStartDate__c} + {!startDateOffsetFormula}</expression>
    </formulas>
    <interviewLabel>Contract - Change Start Date {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contract - Change Start Date</label>
    <loops>
        <name>For_Each_Subscription</name>
        <label>For Each Subscription</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <collectionReference>Get_Subscriptions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Subscription_Segmented</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_Contract_Dates</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Contract</name>
        <label>Get Contract</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Please_Enter_an_Adjusted_Start_Date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Subscriptions</name>
        <label>Get Subscriptions</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>For_Each_Subscription</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contract.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__Subscription__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>SBQQ__StartDate__c</queriedFields>
        <queriedFields>SBQQ__SubscriptionStartDate__c</queriedFields>
        <queriedFields>SBQQ__SegmentStartDate__c</queriedFields>
        <queriedFields>SBQQ__EndDate__c</queriedFields>
        <queriedFields>SBQQ__SegmentEndDate__c</queriedFields>
        <queriedFields>SBQQ__SubscriptionEndDate__c</queriedFields>
        <queriedFields>SBQQ__SegmentIndex__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contract</name>
        <label>Update Contract</label>
        <locationX>176</locationX>
        <locationY>1166</locationY>
        <connector>
            <targetReference>Update_Subscriptions</targetReference>
        </connector>
        <inputReference>Get_Contract</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Subscriptions</name>
        <label>Update Subscriptions</label>
        <locationX>176</locationX>
        <locationY>1274</locationY>
        <inputReference>subscriptionsToUpdate</inputReference>
    </recordUpdates>
    <screens>
        <name>Please_Enter_an_Adjusted_Start_Date</name>
        <label>Please Enter an Adjusted Start Date</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Subscriptions</targetReference>
        </connector>
        <fields>
            <name>New_Contract_Start_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>Get_Contract.StartDate</elementReference>
            </defaultValue>
            <fieldText>New Contract Start Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Contract</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>contractRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>subscriptionsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__Subscription__c</objectType>
    </variables>
</Flow>
