unpackaged/main/default/flows/Delete_Time_Entries.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>AddToDeleteList</name>
        <label>AddToDeleteList</label>
        <locationX>490</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>deleteList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TimeEntry_ID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>addToListLenght</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addToListLenght</name>
        <label>addToListLenght</label>
        <locationX>490</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>recordsToDelete</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_IDs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignID</name>
        <label>AssignID</label>
        <locationX>490</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>TimeEntry_ID.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_IDs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddToDeleteList</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>UserSelectedTimeEntries</name>
        <label>UserSelectedTimeEntries</label>
        <locationX>226</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Loop_IDs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ids</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PleaseSelectTimeEntries</targetReference>
            </connector>
            <label>NO</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Delete Time Entries {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Delete Time Entries</label>
    <loops>
        <name>Loop_IDs</name>
        <label>Loop IDs</label>
        <locationX>402</locationX>
        <locationY>242</locationY>
        <collectionReference>ids</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignID</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Confirmation</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordDeletes>
        <name>Delete_Records_1</name>
        <label>Delete Records 1</label>
        <locationX>402</locationX>
        <locationY>866</locationY>
        <connector>
            <targetReference>EndScreen</targetReference>
        </connector>
        <inputReference>deleteList</inputReference>
    </recordDeletes>
    <screens>
        <name>Confirmation</name>
        <label>Confirmation</label>
        <locationX>402</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Cancel</backButtonLabel>
        <connector>
            <targetReference>Delete_Records_1</targetReference>
        </connector>
        <fields>
            <name>ConfirmationText</name>
            <fieldText>&lt;p&gt;Please confirm the delete action.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Records to delete: {!recordsToDelete}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;By selecting &quot;Delete&quot; you understand that the selected timing records are going to be deleted from the system and can&#39;t be recovered.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;If you&#39;d like to cancel the deletion you can close the tab.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Delete</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>EndScreen</name>
        <label>EndScreen</label>
        <locationX>402</locationX>
        <locationY>974</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>endText</name>
            <fieldText>&lt;p&gt;The records have been deleted.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Please select at least one Time Entry record for deletion.

If you selected the button on the Timings record page, please select &quot;View All&quot; on the Time Entries related list to be able to select individual records.</description>
        <name>PleaseSelectTimeEntries</name>
        <label>PleaseSelectTimeEntries</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Description</name>
            <fieldText>&lt;p&gt;Please select at least one Time Entry record for deletion.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;If you selected the button on the Timings record page please select View All on the Time Entries to be able to select individual records.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Ok</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>100</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>UserSelectedTimeEntries</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>deleteList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkIt2__Time_Entry__c</objectType>
    </variables>
    <variables>
        <name>ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordsToDelete</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>TimeEntry_ID</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkIt2__Time_Entry__c</objectType>
    </variables>
</Flow>
