unpackaged/main/default/flows/JBSystemFlow_Contact.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SalesforceObj273aab52b2f49fb6a3c4983ddcd6b8a7_FireJBTrigger</name>
        <label>SalesforceObj273aab52b2f49fb6a3c4983ddcd6b8a7_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;Id&quot;,&quot;relationshipName&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Contact&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj273aab52b2f49fb6a3c4983ddcd6b8a7</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>534006820</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Contact:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;Birthdate&quot;,&quot;Company__c&quot;,&quot;CurrencyIsoCode&quot;,&quot;HasOptedOutOfEmail&quot;]}]}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>et4ae5__JBintFireBulkEvent</nameSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj273aab52b2f49fb6a3c4983ddcd6b8a7</name>
        <label>JB_Decision_Null_Check_SalesforceObj273aab52b2f49fb6a3c4983ddcd6b8a7</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj273aab52b2f49fb6a3c4983ddcd6b8a7_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj273aab52b2f49fb6a3c4983ddcd6b8a7_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj273aab52b2f49fb6a3c4983ddcd6b8a7_Parameters_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj273aab52b2f49fb6a3c4983ddcd6b8a7_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj273aab52b2f49fb6a3c4983ddcd6b8a7_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj273aab52b2f49fb6a3c4983ddcd6b8a7_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj273aab52b2f49fb6a3c4983ddcd6b8a7_Decision</name>
        <label>JB_SalesforceObj273aab52b2f49fb6a3c4983ddcd6b8a7_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj273aab52b2f49fb6a3c4983ddcd6b8a7</name>
            <conditionLogic>(1 And  (2 AND 3) )</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Active__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.CreatedBy.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.CreatedBy.Contact.et4ae5__Mobile_Country_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj273aab52b2f49fb6a3c4983ddcd6b8a7_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj273aab52b2f49fb6a3c4983ddcd6b8a7</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj273aab52b2f49fb6a3c4983ddcd6b8a7_State_change_Decision</name>
        <label>JB_SalesforceObj273aab52b2f49fb6a3c4983ddcd6b8a7_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObj273aab52b2f49fb6a3c4983ddcd6b8a7</name>
            <conditionLogic>NOT 1</conditionLogic>
            <conditions>
                <leftValueReference>old_object.Active__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj273aab52b2f49fb6a3c4983ddcd6b8a7_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObj273aab52b2f49fb6a3c4983ddcd6b8a7</label>
        </rules>
    </decisions>
    <label>JBSystemFlow_Contact</label>
    <processType>AutoLaunchedFlow</processType>
    <startElementReference>JB_Decision_Null_Check_SalesforceObj273aab52b2f49fb6a3c4983ddcd6b8a7</startElementReference>
    <status>Active</status>
    <variables>
        <name>new_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>old_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
