unpackaged/main/default/flows/Live_Event_Coverage_Timing_Add_LE_timing_to_Finance_sheet_V2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Live Event Coverage Fianance outbound</description>
        <name>Live_Event_Coverage_Fianance_outbound</name>
        <label>Live Event Coverage Fianance outbound</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <actionName>Live_Event_Coverage_Timing__c.Live_Event_Coverage_Fianance_outbound</actionName>
        <actionType>outboundMessage</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>Live_Event_Coverage_Timing__c.Live_Event_Coverage_Fianance_outbound</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Payment_Approval</name>
        <label>Payment Approval</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <actionName>Live_Event_Coverage_Timing__c.LEC_Timing_Payment_approval</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Live_Event_Coverage_Fianance_outbound</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Live_Event_Coverage_Timing__c.LEC_Timing_Payment_approval</nameSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>hasByPassFlow</name>
        <label>hasByPassFlow</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Permission.Bypass_FLOW_Rule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Payment_Approval</targetReference>
            </connector>
            <label>NO</label>
        </rules>
    </decisions>
    <description>It sends the outbound message to create the payment in the spreadsheet</description>
    <environments>Default</environments>
    <interviewLabel>Live Event Coverage Timing - Add LE timing to Finance sheet V2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Live Event Coverage Timing - Add LE timing to Finance sheet V2</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>hasByPassFlow</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>Off_Hours_Covered__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <object>Live_Event_Coverage_Timing__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
