unpackaged/main/default/flows/Live_Event_Coverage_Create_Live_Event_Case.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <description>English_Or_Japanese_Case</description>
        <name>English_Or_Japanese_Case</name>
        <label>English Or Japanese Case</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Create_Japanese_LE_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>English_LE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Language__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Japanese</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_English_LE_Case</targetReference>
            </connector>
            <label>English LE</label>
        </rules>
    </decisions>
    <decisions>
        <name>hasBypassFLOW</name>
        <label>hasBypassFLOW</label>
        <locationX>380</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Permission.Bypass_FLOW_Rule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetRecordType</targetReference>
            </connector>
            <label>NO</label>
        </rules>
    </decisions>
    <description>Creates a NOC Case depending on the LE Language. Currently does not utilize Time Type Fields</description>
    <environments>Default</environments>
    <formulas>
        <description>Date in format YYYY/MM/DD</description>
        <name>japaneseEndDate</name>
        <dataType>String</dataType>
        <expression>TEXT(YEAR({!$Record.Event_End_Date__c}))&amp;&quot;/&quot;&amp;TEXT(MONTH({!$Record.Event_End_Date__c}))&amp;&quot;/&quot;&amp;TEXT(Day({!$Record.Event_End_Date__c}))</expression>
    </formulas>
    <formulas>
        <description>StartDate in format YYYY/MM/DD</description>
        <name>japaneseStartDate</name>
        <dataType>String</dataType>
        <expression>TEXT(YEAR({!$Record.Event_Start_Date__c}))&amp;&quot;/&quot;&amp;TEXT(MONTH({!$Record.Event_Start_Date__c}))&amp;&quot;/&quot;&amp;TEXT(Day({!$Record.Event_Start_Date__c}))</expression>
    </formulas>
    <formulas>
        <name>japaneseTestDate</name>
        <dataType>String</dataType>
        <expression>TEXT(YEAR({!$Record.Test_Date__c}))&amp;&quot;/&quot;&amp;TEXT(MONTH({!$Record.Test_Date__c}))&amp;&quot;/&quot;&amp;TEXT(Day({!$Record.Test_Date__c}))</expression>
    </formulas>
    <formulas>
        <name>NewCaseID</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!Create_Japanese_LE_Case}), {!Create_English_LE_Case}, {!Create_Japanese_LE_Case})</expression>
    </formulas>
    <formulas>
        <name>tmpCoverageEndDateTime</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(
TEXT({!$Record.Event_End_Date__c})&amp; &quot; &quot; &amp; {!$Record.Event_End_Time__c}
)</expression>
    </formulas>
    <formulas>
        <name>tmpCoverageStartDateTime</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE( 
TEXT({!$Record.Event_Start_Date__c}) &amp;&quot; &quot; &amp; {!$Record.Event_End_Time__c}
)</expression>
    </formulas>
    <interviewLabel>Live Event Coverage - Create Live Event Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Live Event Coverage - Create Live Event Case</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>addLECreatorToCase</name>
        <label>addLECreatorToCase</label>
        <locationX>182</locationX>
        <locationY>947</locationY>
        <connector>
            <targetReference>Link_Case_to_LE</targetReference>
        </connector>
        <inputAssignments>
            <field>MemberId</field>
            <value>
                <elementReference>$Record.CreatedBy.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>NewCaseID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TeamRoleId</field>
            <value>
                <elementReference>getCaseTeamRole.Id</elementReference>
            </value>
        </inputAssignments>
        <object>CaseTeamMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_English_LE_Case</name>
        <label>Create_English_LE_Case</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>addLECreatorToCase</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Account_ID__c</field>
            <value>
                <elementReference>$Record.Publisher_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Language__c</field>
            <value>
                <elementReference>$Record.Language__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$Record.Event_Point_Of_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Description_English</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Live_Event_Coverage__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Monitor_My_Case__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Monitoring_type__c</field>
            <value>
                <stringValue>Live Event</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Case_Reason__c</field>
            <value>
                <stringValue>Live Event Coverage</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>NOC</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>P3 - Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>GetRecordType.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Subject_English</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tier__c</field>
            <value>
                <stringValue>NOC</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Japanese_LE_Case</name>
        <label>Create Japanese LE Case</label>
        <locationX>314</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>addLECreatorToCase</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Account_ID__c</field>
            <value>
                <elementReference>$Record.Publisher_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Language__c</field>
            <value>
                <stringValue>Japanese</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$Record.Event_Point_Of_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Description_Japanese</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Live_Event_Coverage__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Monitor_My_Case__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Monitoring_type__c</field>
            <value>
                <stringValue>Live Event</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Case_Reason__c</field>
            <value>
                <stringValue>Live Event Coverage</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>NOC</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>P3 - Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>NOC_Cases_LE_RecordID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Subject_Japanese</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tier__c</field>
            <value>
                <stringValue>NOC</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Link_Case_to_LE</name>
        <label>Link Case to LE</label>
        <locationX>182</locationX>
        <locationY>1055</locationY>
        <inputAssignments>
            <field>Case_Number__c</field>
            <value>
                <elementReference>NewCaseID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LE_Number__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Cases_LEs_Relationship__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>getCaseTeamRole</name>
        <label>getCaseTeamRole</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>English_Or_Japanese_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account Manager</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CaseTeamRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetRecordType</name>
        <label>GetRecordType</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getCaseTeamRole</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NOC_Cases</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>hasBypassFLOW</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Has_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Live_Event_Coverage_Owner__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending - CS - Resource Booked</stringValue>
            </value>
        </filters>
        <object>Live_Event_Coverage__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <description>Text for cases in English</description>
        <name>Description_English</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>This case has been created to coordinate with the customer for Live Event Support Requested on {!$Record.Name} for {!$Record.Account_Name_Text__c}.

Testing is scheduled for: {!$Record.Human_readable_Testing_Time__c}

Event Start Date: {!$Record.Human_readable_Event_Start__c}

Event End Date: {!$Record.Human_readable_Event_End__c}.</text>
    </textTemplates>
    <textTemplates>
        <name>Description_Japanese</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Record.TXT_Coverage_Time__c}ライブイベントサポートリクエスト番号:  {!$Record.Name} お客様名: {!$Record.Account_Name_Text__c}.

テストサポート日時: {!japaneseTestDate} [{!$Record.TXT_Test_Start_Time__c}]


ライブイベントサポート開始日時: {!japaneseStartDate} [ {!$Record.TXT_Coverage_Time__c}]

ライブイベントサポート終了: {!japaneseEndDate} [{!$Record.TXT_Coverage_End_Time__c}]</text>
    </textTemplates>
    <textTemplates>
        <name>Subject_English</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Live Event Coverage for {!$Record.Account_Name_Text__c}</text>
    </textTemplates>
    <textTemplates>
        <name>Subject_Japanese</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>ライブイベントサポート - {!$Record.Account_Name_Text__c}様</text>
    </textTemplates>
    <variables>
        <name>NOC_Cases_LE_RecordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>0128c000001bZ8SAAU</stringValue>
        </value>
    </variables>
</Flow>
