unpackaged/main/default/flows/Opportunity_Prod_Platinum_Added_to_Quote_alerts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Platinum_Plus_Added_to_Quote</name>
        <label>Platinum Plus Added to Quote</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <actionName>Opportunity.Platinum_Plus_Added_to_Quote</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Opportunity.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Platinum_Plus_Added_to_Quote</nameSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>PlatinumPlus</name>
        <label>PlatinumPlus</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YES</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ProductCode</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>9-13</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ProductCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SP-PLATPLUS-UPG</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Platinum_Plus_Added_to_Quote</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <description>It&#39;s called when a primary quote with Platinum alert is added to an opportunity. It sends an email alert to CX team</description>
    <environments>Default</environments>
    <interviewLabel>Opportunity Prod - Platinum+ Added to Quote alerts {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Prod - Platinum+ Added to Quote alerts</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>PlatinumPlus</targetReference>
        </connector>
        <object>OpportunityLineItem</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
