unpackaged/main/default/flows/Opportunity_DefaultManualTCVACV.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>manualACTTVC60K</name>
        <label>manualACTTVC60K</label>
        <locationX>314</locationX>
        <locationY>671</locationY>
        <assignmentItems>
            <assignToReference>$Record.Manual_ACV__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>60000.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Manual_TCV__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>60000.0</numberValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>manualACVTCV32</name>
        <label>manualACVTCV32</label>
        <locationX>578</locationX>
        <locationY>671</locationY>
        <assignmentItems>
            <assignToReference>$Record.Manual_ACV__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>32000.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Manual_TCV__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>32000.0</numberValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>manualACVTCV65K</name>
        <label>manualACVTCV65K</label>
        <locationX>1370</locationX>
        <locationY>671</locationY>
        <assignmentItems>
            <assignToReference>$Record.Manual_ACV__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>65000.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Manual_TCV__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>65000.0</numberValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>manualMediaAPACTCVACV65</name>
        <label>manualMediaAPACTCVACV65</label>
        <locationX>2162</locationX>
        <locationY>671</locationY>
        <assignmentItems>
            <assignToReference>$Record.Manual_ACV__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>65000.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Manual_TCV__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>65000.0</numberValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>manualTCVACV20K</name>
        <label>manualTCVACV20K</label>
        <locationX>842</locationX>
        <locationY>671</locationY>
        <assignmentItems>
            <assignToReference>$Record.Manual_ACV__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>20000.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Manual_TCV__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>20000.0</numberValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>ManualTCVACVJapan32</name>
        <label>ManualTCVACVJapan32</label>
        <locationX>1898</locationX>
        <locationY>671</locationY>
        <assignmentItems>
            <assignToReference>$Record.Manual_ACV__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>32000.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Manual_TCV__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>32000.0</numberValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>ManulaACVTCV35K</name>
        <label>ManulaACVTCV35K</label>
        <locationX>50</locationX>
        <locationY>671</locationY>
        <assignmentItems>
            <assignToReference>$Record.Manual_ACV__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>35000.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Manual_TCV__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>35000.0</numberValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>updateManualTCVACVto60</name>
        <label>updateManualTCVACVto60</label>
        <locationX>1634</locationX>
        <locationY>671</locationY>
        <assignmentItems>
            <assignToReference>$Record.Manual_TCV__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>60000.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Manual_ACV__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>60000.0</numberValue>
            </value>
        </assignmentItems>
    </assignments>
    <constants>
        <name>AmericasDivision</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Americas</stringValue>
        </value>
    </constants>
    <constants>
        <name>APACDivision</name>
        <dataType>String</dataType>
        <value>
            <stringValue>APAC</stringValue>
        </value>
    </constants>
    <constants>
        <name>EMEADivision</name>
        <dataType>String</dataType>
        <value>
            <stringValue>EMEA</stringValue>
        </value>
    </constants>
    <constants>
        <name>JAPANDivision</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Japan</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Copy_1_of_isDivision</name>
        <label>Copy 1 of isDivision</label>
        <locationX>1898</locationX>
        <locationY>551</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_EMEA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner.Division</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>EMEADivision</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>manualACVTCV65K</targetReference>
            </connector>
            <label>Copy 1 of EMEA</label>
        </rules>
        <rules>
            <name>Copy_1_of_Americas</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner.Division</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>AmericasDivision</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateManualTCVACVto60</targetReference>
            </connector>
            <label>Copy 1 of Americas</label>
        </rules>
        <rules>
            <name>Copy_1_of_Japan</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner.Division</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>JAPANDivision</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ManualTCVACVJapan32</targetReference>
            </connector>
            <label>Copy 1 of Japan</label>
        </rules>
        <rules>
            <name>Copy_1_of_APAC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner.Division</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>APACDivision</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>manualMediaAPACTCVACV65</targetReference>
            </connector>
            <label>Copy 1 of APAC</label>
        </rules>
    </decisions>
    <decisions>
        <name>isBusinessUnit</name>
        <label>isBusinessUnit</label>
        <locationX>1634</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Enterprise</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Account_Business_Unit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Enterprise</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>isDivision</targetReference>
            </connector>
            <label>Enterprise</label>
        </rules>
        <rules>
            <name>Media</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Account_Business_Unit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Media</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_isDivision</targetReference>
            </connector>
            <label>Media</label>
        </rules>
    </decisions>
    <decisions>
        <name>isDivision</name>
        <label>isDivision</label>
        <locationX>578</locationX>
        <locationY>551</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>EMEA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner.Division</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>EMEADivision</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ManulaACVTCV35K</targetReference>
            </connector>
            <label>EMEA</label>
        </rules>
        <rules>
            <name>Americas</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner.Division</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>AmericasDivision</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>manualACTTVC60K</targetReference>
            </connector>
            <label>Americas</label>
        </rules>
        <rules>
            <name>Japan</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner.Division</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>JAPANDivision</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>manualACVTCV32</targetReference>
            </connector>
            <label>Japan</label>
        </rules>
        <rules>
            <name>APAC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner.Division</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>APACDivision</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>manualTCVACV20K</targetReference>
            </connector>
            <label>APAC</label>
        </rules>
    </decisions>
    <decisions>
        <name>recordType</name>
        <label>recordType</label>
        <locationX>2294</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Business</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New_Business</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>isBusinessUnit</targetReference>
            </connector>
            <label>New Business</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Opportunity - DefaultManualTCVACV {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity - DefaultManualTCVACV</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>2168</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>recordType</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__PrimaryQuote__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Deal_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New Business</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>1 - Discovery</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>500</triggerOrder>
</Flow>
