unpackaged/main/default/flows/Opportunity_Insert_Default_Renewal_Values.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Amended_Contract_Opp_Exists</name>
        <label>Amended Contract Opp Exists</label>
        <locationX>710</locationX>
        <locationY>503</locationY>
        <defaultConnector>
            <targetReference>Set_Default_Add_On_Values_No_Reference</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Original_Opp_Amendment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__AmendedContract__r.SBQQ__Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Default_Add_On_Values</targetReference>
            </connector>
            <label>Has Original Opp (Amendment)</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Renewal_or_Amendment</name>
        <label>Is Renewal or Amendment?</label>
        <locationX>446</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>Get_Add_On_Record_Type_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Amendment</defaultConnectorLabel>
        <rules>
            <name>Renewal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__Renewal__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Renewal_Record_Type_Id</targetReference>
            </connector>
            <label>Renewal</label>
        </rules>
    </decisions>
    <decisions>
        <name>Renewed_Contract_Opp_Exists</name>
        <label>Renewed Contract Opp Exists</label>
        <locationX>182</locationX>
        <locationY>503</locationY>
        <defaultConnector>
            <targetReference>Set_Default_Renewal_Values_No_Reference</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Original_Opp_Renewal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__RenewedContract__r.SBQQ__Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Default_Renewal_Values</targetReference>
            </connector>
            <label>Has Original Opp (Renewal)</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>existingContractAutoRenew</name>
        <dataType>String</dataType>
        <expression>IF({!$Record.SBQQ__RenewedContract__r.SBQQ__Opportunity__r.SBQQ__PrimaryQuote__r.Auto_Renew__c}, &quot;Yes&quot;, &quot;No&quot;)</expression>
    </formulas>
    <interviewLabel>Opportunity - Insert - Default Renewal Values {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity - Insert - Default Values (Renewal/Add-On)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Add_On_Record_Type_Id</name>
        <label>Get Add-On Record Type Id</label>
        <locationX>710</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Amended_Contract_Opp_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Add-On</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Renewal_Record_Type_Id</name>
        <label>Get Renewal Record Type Id</label>
        <locationX>182</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Renewed_Contract_Opp_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Renewal</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Set_Default_Add_On_Values</name>
        <label>Set Default Add-On Values</label>
        <locationX>578</locationX>
        <locationY>611</locationY>
        <inputAssignments>
            <field>Contract_Type__c</field>
            <value>
                <elementReference>$Record.SBQQ__AmendedContract__r.SBQQ__Opportunity__r.Contract_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Deal_Type__c</field>
            <value>
                <stringValue>Add-on</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.SBQQ__AmendedContract__r.SBQQ__Opportunity__r.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Add_On_Record_Type_Id.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>1 - Discovery</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Existing Business</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Default_Add_On_Values_No_Reference</name>
        <label>Set Default Add-On Values (No Reference)</label>
        <locationX>842</locationX>
        <locationY>611</locationY>
        <inputAssignments>
            <field>Contract_Type__c</field>
            <value>
                <stringValue>Standard Term Contract</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Deal_Type__c</field>
            <value>
                <stringValue>Add-on</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Add_On_Record_Type_Id.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>1 - Discovery</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Existing Business</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Default_Renewal_Values</name>
        <label>Set Default Renewal Values</label>
        <locationX>50</locationX>
        <locationY>611</locationY>
        <inputAssignments>
            <field>Contract_Type__c</field>
            <value>
                <elementReference>$Record.SBQQ__RenewedContract__r.SBQQ__Opportunity__r.Contract_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Deal_Type__c</field>
            <value>
                <stringValue>Renewal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_the_Contract_Auto_Renewing__c</field>
            <value>
                <elementReference>existingContractAutoRenew</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.SBQQ__RenewedContract__r.SBQQ__Opportunity__r.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Renewal_Record_Type_Id.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>1 - Discovery</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Existing Business</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Default_Renewal_Values_No_Reference</name>
        <label>Set Default Renewal Values (No Reference)</label>
        <locationX>314</locationX>
        <locationY>611</locationY>
        <inputAssignments>
            <field>Contract_Type__c</field>
            <value>
                <stringValue>Standard Term Contract</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Deal_Type__c</field>
            <value>
                <stringValue>Renewal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Renewal_Record_Type_Id.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>1 - Discovery</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Existing Business</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Renewal_or_Amendment</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>SBQQ__Renewal__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SBQQ__AmendedContract__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AmendedContractType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.SBQQ__AmendedContract__r.SBQQ__Opportunity__r.Contract_Type__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>RenewalContractType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.SBQQ__RenewedContract__r.SBQQ__Opportunity__r.Contract_Type__c</elementReference>
        </value>
    </variables>
</Flow>
