unpackaged/main/default/flows/Opportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Sales_Rep_Email</name>
        <label>Send Sales Rep Email</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Send_TSM_Email</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>AdditionalEmailRecipients</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Closed_Won_Subject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Email_Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_TSM_Email</name>
        <label>Send TSM Email</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Email_Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Owner.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Closed_Won_Subject</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <environments>Default</environments>
    <formulas>
        <name>AccountIdLink</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Enterprise_Server_URL_120},FIND(&#39;/services&#39;, {!$Api.Enterprise_Server_URL_120})) &amp; {!$Record.AccountId}</expression>
    </formulas>
    <formulas>
        <name>OppIdLink</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Enterprise_Server_URL_120},FIND(&#39;/services&#39;, {!$Api.Enterprise_Server_URL_120})) &amp; {!$Record.Id}</expression>
    </formulas>
    <interviewLabel>Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity_Closed_Won_Owner_Notification</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Send_Sales_Rep_Email</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0128c000001Q9PEAA0</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>AccountIdURL</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>LEFT($Api.Partner_Server_URL_260, FIND( ‘/services’, $Api.Partner_Server_URL_260)) &amp; {!$Record.Account.Id}</text>
    </textTemplates>
    <textTemplates>
        <name>AdditionalEmailRecipients</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>rvanoni@brightcove.com, kgutowski@brightcove.com, {!$Record__Prior.Owner.Email}</text>
    </textTemplates>
    <textTemplates>
        <name>Closed_Won_Subject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Deal closed won with Migration</text>
    </textTemplates>
    <textTemplates>
        <name>Email_Body</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-size: medium; font-family: Times; color: rgb(0, 0, 0);&quot;&gt;Hi Team,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: medium; font-family: Times; color: rgb(0, 0, 0);&quot;&gt;The {!$Record.Name} is on &lt;/span&gt;&lt;span style=&quot;font-size: medium; font-family: Times; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.StageName}, and the owner has been updated.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: medium; font-family: Times; color: rgb(0, 0, 0);&quot;&gt;INFO:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: medium; font-family: Times; color: rgb(0, 0, 0);&quot;&gt;Account: {!AccountIdLink}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!$Record.Account.Name}&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: medium; font-family: Times; color: rgb(0, 0, 0);&quot;&gt;Opportunity:&amp;nbsp;{!OppIdLink}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: medium; font-family: Times; color: rgb(0, 0, 0);&quot;&gt;{!$Record.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: medium; font-family: Times; color: rgb(0, 0, 0);&quot;&gt;Opportunity Owner: {!$Record.Owner.FirstName} {!$Record.Owner.LastName}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: medium; font-family: Times; color: rgb(0, 0, 0);&quot;&gt;Thank you,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: medium; font-family: Times; color: rgb(0, 0, 0);&quot;&gt;Salesforce Alerts&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
</Flow>
