unpackaged/main/default/flows/Opportunity_EmailAlert_for_Beacon_and_Onboarding.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Opportunity - New Platinum Plus</description>
        <name>Copy_2_of_Opportunity_New_Platinum_Plus</name>
        <label>Copy 2 of Opportunity - New Platinum Plus</label>
        <locationX>314</locationX>
        <locationY>2903</locationY>
        <actionName>Opportunity.Opportunity_New_Platinum_Plus</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>New_Platinum_Plus_Manager_Needed</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Opportunity_New_Platinum_Plus</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>New_Audience_Insights_Notification</name>
        <label>New Audience Insights Notification</label>
        <locationX>314</locationX>
        <locationY>2303</locationY>
        <actionName>Opportunity.New_Audience_Insights_Notification</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>isChannelMonitoring</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.New_Audience_Insights_Notification</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>New_Migration_Deal_closed_won</name>
        <label>New Migration Deal closed won</label>
        <locationX>314</locationX>
        <locationY>2003</locationY>
        <actionName>Opportunity.New_Migration_Deal_closed_won</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>isAudienceInsights</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.New_Migration_Deal_closed_won</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>New_Onbaording_deal</name>
        <label>New Onbaording deal</label>
        <locationX>314</locationX>
        <locationY>1703</locationY>
        <actionName>Opportunity.Opportunity_New_Onbaording_deal</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>isMigration</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Opportunity_New_Onbaording_deal</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>New_Platinum_and_NO_manager_needed_1</name>
        <label>New Platinum and NO manager needed</label>
        <locationX>578</locationX>
        <locationY>3011</locationY>
        <actionName>Opportunity.Opportunity_New_Platinum_NO_Manager_Needed</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <stringValue>{!$Record.Id}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Opportunity_New_Platinum_NO_Manager_Needed</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>New_Platinum_Plus_Manager_Needed</name>
        <label>New Platinum Plus Manager Needed</label>
        <locationX>314</locationX>
        <locationY>3011</locationY>
        <actionName>Opportunity.Opportunity_New_Platinum_Plus_Manager_Needed</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <stringValue>{!$Record.Id}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Opportunity_New_Platinum_Plus_Manager_Needed</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>New_Platinum_Plus_NO_Manager_needed</name>
        <label>New Platinum Plus NO Manager needed</label>
        <locationX>50</locationX>
        <locationY>3011</locationY>
        <actionName>Opportunity.Opportunity_New_Platinum_Plus_NO_Manager_Needed</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <stringValue>{!$Record.Id}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Opportunity_New_Platinum_Plus_NO_Manager_Needed</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Opportunity_New_Beacon_Deal</name>
        <label>Opportunity - New Beacon Deal</label>
        <locationX>314</locationX>
        <locationY>1403</locationY>
        <actionName>Opportunity.Opportunity_New_Beacon_Deal</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>isOnboarding</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Opportunity_New_Beacon_Deal</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Opportunity_New_Platinum</name>
        <label>Opportunity - New Platinum</label>
        <locationX>842</locationX>
        <locationY>3011</locationY>
        <actionName>Opportunity.Opportunity_New_Platinum_Manager_Needed</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Opportunity_New_Platinum_Manager_Needed</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <description>Opportunity - New Platinum Plus</description>
        <name>Opportunity_New_Platinum_Plus</name>
        <label>Opportunity - New Platinum Plus</label>
        <locationX>50</locationX>
        <locationY>2903</locationY>
        <actionName>Opportunity.Opportunity_New_Platinum_Plus</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>New_Platinum_Plus_NO_Manager_needed</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Opportunity_New_Platinum_Plus</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>SendEmailAboutChannelMonitoring</name>
        <label>SendEmailAboutChannelMonitoring</label>
        <locationX>314</locationX>
        <locationY>2603</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>IsPlatinumPlus</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>channelMonitoringEmailRecipients</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>channelMonitoringS</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>channelMonitoringEmail</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>isAudienceInsights</name>
        <label>isAudienceInsights</label>
        <locationX>446</locationX>
        <locationY>2195</locationY>
        <defaultConnector>
            <targetReference>isChannelMonitoring</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_isAudienceInsights</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getAudienceInsights.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Audience_Insights_Notification</targetReference>
            </connector>
            <label>Yes_isAudienceInsights</label>
        </rules>
    </decisions>
    <decisions>
        <name>isChannelMonitoring</name>
        <label>isChannelMonitoring</label>
        <locationX>446</locationX>
        <locationY>2495</locationY>
        <defaultConnector>
            <targetReference>IsPlatinumPlus</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_isChannelMonitoring</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getChannelMonitoring.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SendEmailAboutChannelMonitoring</targetReference>
            </connector>
            <label>Yes_isChannelMonitoring</label>
        </rules>
    </decisions>
    <decisions>
        <name>isMigration</name>
        <label>isMigration</label>
        <locationX>446</locationX>
        <locationY>1895</locationY>
        <defaultConnector>
            <targetReference>isAudienceInsights</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YES_isMigration</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_1_of_getProductOnboarding.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Migration_Deal_closed_won</targetReference>
            </connector>
            <label>YES_isMigration</label>
        </rules>
    </decisions>
    <decisions>
        <name>isOEMRequired</name>
        <label>isOEMRequired</label>
        <locationX>446</locationX>
        <locationY>1295</locationY>
        <defaultConnector>
            <targetReference>isOnboarding</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YES_isBeacon</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getProductsBeacon.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opportunity_New_Beacon_Deal</targetReference>
            </connector>
            <label>YES_isBeacon</label>
        </rules>
    </decisions>
    <decisions>
        <name>isOnboarding</name>
        <label>isOnboarding</label>
        <locationX>446</locationX>
        <locationY>1595</locationY>
        <defaultConnector>
            <targetReference>isMigration</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YES_isOnboarding</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getProductOnboarding.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Onbaording_deal</targetReference>
            </connector>
            <label>YES_isOnboarding</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsPlatinum</name>
        <label>IsPlatinum</label>
        <locationX>842</locationX>
        <locationY>2903</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_IsPlatinumAndNoManagerNeeded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Platinum_TS_Manager__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getProductSupportPackagePlat.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Platinum_and_NO_manager_needed_1</targetReference>
            </connector>
            <label>Yes_IsPlatinumAndManagerISNOTNeeded</label>
        </rules>
        <rules>
            <name>Yes_IsPlatinumManagerNeeded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Platinum_TS_Manager__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getProductSupportPackagePlat.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opportunity_New_Platinum</targetReference>
            </connector>
            <label>Yes_IsPlatinumManagerNeeded</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsPlatinumPlus</name>
        <label>IsPlatinumPlus</label>
        <locationX>446</locationX>
        <locationY>2795</locationY>
        <defaultConnector>
            <targetReference>IsPlatinum</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_IsPlatinumPlus</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Platinum_TS_Manager__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getProductSupportPackagePlatPlus.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opportunity_New_Platinum_Plus</targetReference>
            </connector>
            <label>Yes_IsPlatinumPlusAndNoManagerNeeded</label>
        </rules>
        <rules>
            <name>Yes_IsPlatinumPlusWithManagerNeeded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Platinum_TS_Manager__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getProductSupportPackagePlatPlus.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Opportunity_New_Platinum_Plus</targetReference>
            </connector>
            <label>Yes_IsPlatinumPlusManagerNeeded</label>
        </rules>
    </decisions>
    <decisions>
        <name>isThereBeaconOnboardingMigration</name>
        <label>isThereBeaconOnboardingMigration</label>
        <locationX>116</locationX>
        <locationY>1187</locationY>
        <defaultConnector>
            <targetReference>isOEMRequired</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NO_isThereBeaconOnboardingMigration</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_1_of_getProductOnboarding.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getProductOnboarding.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getProductsBeacon</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getProductSupportPackagePlatPlus</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getAudienceInsights</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>NO_isThereBeaconOnboardingMigration</label>
        </rules>
    </decisions>
    <decisions>
        <name>UserHasBypassValidation</name>
        <label>UserHasBypassValidation</label>
        <locationX>743</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Permission.ByPass_Opportunity_EmailAlert_for_Beacon_and_Onboarding</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getProductsBeacon</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <description>This sends an email alert to the OEM team for a new Beacon and Onboarding package sold (upd: email alert for Platinum Support Package, Channel Monitoring and Audience Insights were added as well)</description>
    <environments>Default</environments>
    <interviewLabel>Opportunity - EmailAlert for Beacon and Onboarding {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity - EmailAlert for Beacon and Onboarding</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Copy_1_of_getProductOnboarding</name>
        <label>getProductMigration</label>
        <locationX>116</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getAudienceInsights</targetReference>
        </connector>
        <filterLogic>1 AND 2</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Migration</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getAudienceInsights</name>
        <label>getAudienceInsights</label>
        <locationX>116</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getProductSupportPackagePlatPlus</targetReference>
        </connector>
        <filterLogic>1 AND (2 Or 3 Or 4) And NOT 5</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>BAI Distribution</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Insights</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Extra Instances (5 Additional Instances)</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>QoE</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getChannelMonitoring</name>
        <label>getChannelMonitoring</label>
        <locationX>116</locationX>
        <locationY>1079</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>isThereBeaconOnboardingMigration</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Channel Monitoring</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getProductOnboarding</name>
        <label>getProductOnboarding</label>
        <locationX>116</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_getProductOnboarding</targetReference>
        </connector>
        <filterLogic>1 AND 2</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Onboarding</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getProductsBeacon</name>
        <label>getProductsBeacon</label>
        <locationX>116</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getProductOnboarding</targetReference>
        </connector>
        <filterLogic>1 AND 2</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Beacon</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getProductSupportPackagePlat</name>
        <label>getProductSupportPackagePlat</label>
        <locationX>116</locationX>
        <locationY>971</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getChannelMonitoring</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Platinum</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getProductSupportPackagePlatPlus</name>
        <label>getProductSupportPackagePlatPlus</label>
        <locationX>116</locationX>
        <locationY>863</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getProductSupportPackagePlat</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Platinum Plus</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>617</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>UserHasBypassValidation</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>channelMonitoringEmail</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hello {!$Record.Owner.FirstName},
You are receiving this email because Opportunity {!$Record.Name} was closed Won and it includes Channel Monitoring on the quote.
Please double-check the following Channel Monitoring details (and confirm with the customer as needed):

Account: {!$Record.Account.Name}
Product: {!getChannelMonitoring.Name}
Number of channels: {!getChannelMonitoring.Quantity}

Please, provide as many details as possible (is the customer using those channels in production already, do they do 24/7, do they use any special feature)?

Thank you,
Technical Support Operations</text>
    </textTemplates>
    <textTemplates>
        <name>channelMonitoringEmailRecipients</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Record.Owner.Email}, cs_live@brightcove.com, {!$Record.Account.Customer_Success_Manager__r.Email}</text>
    </textTemplates>
    <textTemplates>
        <name>channelMonitoringS</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>[Action Required] - Opportunity closed won with channel monitoring service</text>
    </textTemplates>
</Flow>
