unpackaged/main/default/flows/OpportunityTeamMember_After_Insert_Opportunity_Splits.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Add_Opportunity_Split_to_Collection</name>
        <label>Add Opportunity Split to Collection</label>
        <locationX>138</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>opportunitySplitToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>opportunitySplit</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Opportunity_Split_Types_ACV_TCV</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values_to_OpportunitySplit</name>
        <label>Assign Values to OpportunitySplit</label>
        <locationX>138</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>opportunitySplit.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OpportunityId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opportunitySplit.SplitOwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.UserId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opportunitySplit.SplitPercentage</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>100.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opportunitySplit.SplitTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Opportunity_Split_Types_ACV_TCV.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Opportunity_Split_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Add_Opportunity_Split_to_Collection</name>
        <label>Add Opportunity Split to Collection</label>
        <locationX>490</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>opportunitySplitToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>opportunitySplit</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Opportunity_Split_Types_EMRR_MRR</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Values_to_OpportunitySplit</name>
        <label>Assign Values to OpportunitySplit</label>
        <locationX>490</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>opportunitySplit.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OpportunityId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opportunitySplit.SplitOwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.UserId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opportunitySplit.SplitPercentage</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>100.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opportunitySplit.SplitTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Opportunity_Split_Types_EMRR_MRR.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Add_Opportunity_Split_to_Collection</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Filter_Split_Types_to_ACV_TCV</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Split Types to ACV / TCV</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignNextValueToReference>currentItem_Copy_1_of_Filter_Split_Types_to_ACV_TCV</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Opportunity_Split_Types</collectionReference>
        <conditionLogic>or</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Copy_1_of_Filter_Split_Types_to_ACV_TCV.MasterLabel</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>ACV</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Copy_1_of_Filter_Split_Types_to_ACV_TCV.MasterLabel</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>TCV</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Loop_Opportunity_Split_Types_ACV_TCV</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_Split_Types_to_EMRR_MRR</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Split Types to EMRR / MRR</label>
        <locationX>402</locationX>
        <locationY>539</locationY>
        <assignNextValueToReference>currentItem_Copy_1_of_Filter_Split_Types_to_ACV_TCV</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Opportunity_Split_Types</collectionReference>
        <conditionLogic>or</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Copy_1_of_Filter_Split_Types_to_ACV_TCV.MasterLabel</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>EMRR Value</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Copy_1_of_Filter_Split_Types_to_ACV_TCV.MasterLabel</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>MRR Commit Value</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Loop_Opportunity_Split_Types_EMRR_MRR</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Have_OpportunitySplit_Records_to_Create</name>
        <label>Have OpportunitySplit Records to Create?</label>
        <locationX>358</locationX>
        <locationY>1139</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>opportunitySplitToInsert</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Opportunity_Split_Records</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opportunity_Type</name>
        <label>Opportunity Type?</label>
        <locationX>358</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Have_OpportunitySplit_Records_to_Create</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>New_Add_On_Debook</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity.Deal_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Business</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity.Deal_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Add-On</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity.Deal_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Debook</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity.Deal_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Renewal Growth</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Filter_Split_Types_to_ACV_TCV</targetReference>
            </connector>
            <label>New / Add-On / Debook</label>
        </rules>
        <rules>
            <name>Renewal_Early_Renewal</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity.Deal_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Renewal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity.Deal_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Early Renewal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Filter_Split_Types_to_EMRR_MRR</targetReference>
            </connector>
            <label>Renewal / Early Renewal</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>OpportunityTeamMember - After Insert - Opportunity Splits {!$Flow.CurrentDateTime}</interviewLabel>
    <label>OpportunityTeamMember - After Insert - Opportunity Splits</label>
    <loops>
        <name>Loop_Opportunity_Split_Types_ACV_TCV</name>
        <label>Loop Opportunity Split Types ACV / TCV</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <collectionReference>Filter_Split_Types_to_ACV_TCV</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Values_to_OpportunitySplit</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Have_OpportunitySplit_Records_to_Create</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Opportunity_Split_Types_EMRR_MRR</name>
        <label>Loop Opportunity Split Types EMRR / MRR</label>
        <locationX>402</locationX>
        <locationY>647</locationY>
        <collectionReference>Filter_Split_Types_to_EMRR_MRR</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_1_of_Assign_Values_to_OpportunitySplit</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Have_OpportunitySplit_Records_to_Create</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Opportunity_Split_Records</name>
        <label>Create Opportunity Split Records</label>
        <locationX>226</locationX>
        <locationY>1247</locationY>
        <inputReference>opportunitySplitToInsert</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Opportunity_Split_Types</name>
        <label>Get Opportunity Split Types</label>
        <locationX>358</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Opportunity_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunitySplitType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>232</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opportunity_Split_Types</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>or</filterLogic>
        <filters>
            <field>TeamMemberRole</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity Owner</stringValue>
            </value>
        </filters>
        <filters>
            <field>TeamMemberRole</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account Executive</stringValue>
            </value>
        </filters>
        <filters>
            <field>TeamMemberRole</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account Manager</stringValue>
            </value>
        </filters>
        <filters>
            <field>TeamMemberRole</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Customer Success Manager</stringValue>
            </value>
        </filters>
        <filters>
            <field>TeamMemberRole</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Channel Manager</stringValue>
            </value>
        </filters>
        <object>OpportunityTeamMember</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>10</triggerOrder>
    <variables>
        <name>currentItem_Copy_1_of_Filter_Split_Types_to_ACV_TCV</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunitySplitType</objectType>
    </variables>
    <variables>
        <name>opportunitySplit</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunitySplit</objectType>
    </variables>
    <variables>
        <name>opportunitySplitToInsert</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunitySplit</objectType>
    </variables>
</Flow>
