unpackaged/main/default/flows/Quote_Updated_Quote_Line_Pricebook_Entry_ID.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Add_QuoteLine_To_Update</name>
        <label>Add QuoteLine To Update</label>
        <locationX>704</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>quoteLinesToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Lopp_QuoteLines_to_Assign_Pricebook_Entry_Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Lopp_QuoteLines_to_Assign_Pricebook_Entry_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Pricebook_Entry_ID</name>
        <label>Assign New Pricebook Entry ID</label>
        <locationX>704</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>Lopp_QuoteLines_to_Assign_Pricebook_Entry_Id.SBQQ__PricebookEntryId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Pricebook_Entry_Loop.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_QuoteLine_To_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_productIDs</name>
        <label>Update productIDs</label>
        <locationX>264</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>productIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Quote_Lines_Get_Product_ID.SBQQ__Product__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Quote_Lines_Get_Product_ID</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Products_Match</name>
        <label>Products Match</label>
        <locationX>836</locationX>
        <locationY>1082</locationY>
        <defaultConnector>
            <targetReference>Pricebook_Entry_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_ProductsMatch</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Lopp_QuoteLines_to_Assign_Pricebook_Entry_Id.SBQQ__Product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Pricebook_Entry_Loop.Product2Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_New_Pricebook_Entry_ID</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Quote - Updated Quote Line Pricebook Entry ID {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Quote - Updated Quote Line Pricebook Entry ID</label>
    <loops>
        <name>Loop_Quote_Lines_Get_Product_ID</name>
        <label>Loop Quote Lines Get Product ID</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <collectionReference>Get_Quote_Lines</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_productIDs</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Pricebook_Entries</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Lopp_QuoteLines_to_Assign_Pricebook_Entry_Id</name>
        <label>Lopp QuoteLines to Assign Pricebook Entry Id</label>
        <locationX>176</locationX>
        <locationY>866</locationY>
        <collectionReference>Get_Quote_Lines</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Pricebook_Entry_Loop</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_QuoteLines</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Pricebook_Entry_Loop</name>
        <label>Pricebook Entry Loop</label>
        <locationX>616</locationX>
        <locationY>974</locationY>
        <collectionReference>Get_Pricebook_Entries</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Products_Match</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Lopp_QuoteLines_to_Assign_Pricebook_Entry_Id</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Pricebook_Entries</name>
        <label>Get Pricebook Entries</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lopp_QuoteLines_to_Assign_Pricebook_Entry_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product2Id</field>
            <operator>In</operator>
            <value>
                <elementReference>productIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Quote.SBQQ__PriceBook__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>CurrencyIsoCode</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Quote.CurrencyIsoCode</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Quote</name>
        <label>Get Quote</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Confirm_Pricebook</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SBQQ__Quote__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Quote_Lines</name>
        <label>Get Quote Lines</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Quote_Lines_Get_Product_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__QuoteLine__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>SBQQ__Product__c</queriedFields>
        <queriedFields>SBQQ__PricebookEntryId__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_QuoteLines</name>
        <label>Update QuoteLines</label>
        <locationX>176</locationX>
        <locationY>1724</locationY>
        <inputReference>quoteLinesToUpdate</inputReference>
    </recordUpdates>
    <screens>
        <name>Confirm_Pricebook</name>
        <label>Confirm Pricebook</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Quote_Lines</targetReference>
        </connector>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>Get_Quote.SBQQ__PriceBook__c</objectFieldReference>
        </fields>
        <helpText>&lt;p&gt;When confirming your price book, this flow will update all attached quote lines to the selected pricebook if its available. Note: Not all products are available in all price books.&lt;/p&gt;</helpText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Quote</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>productIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>quoteLinesToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__QuoteLine__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
