unpackaged/main/default/flows/Split_Case.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>populateVariables</name>
        <label>populateVariables</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>tmp_NewCase.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getCase.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tmp_NewCase.New_Case_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getCase.New_Case_Reason__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tmp_NewCase.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getCase.Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tmp_NewCase.Case_Language__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getCase.Case_Language__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tmp_NewCase.Case_Sub_reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getCase.Case_Sub_reason__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tmp_NewCase.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getCase.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tmp_NewCase.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getCase.Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tmp_NewCase.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getCase.Priority</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tmp_NewCase.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getCase.Subject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tmp_NewCase.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getCase.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tmp_NewCase.Origin</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getCase.Origin</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CloneCase</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Split Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Split Case</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>NewCase</name>
        <label>NewCase</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <assignRecordIdToReference>caseid</assignRecordIdToReference>
        <connector>
            <targetReference>GetNewCase</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>tmp_NewCase.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Language__c</field>
            <value>
                <elementReference>tmp_NewCase.Case_Language__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Sub_reason__c</field>
            <value>
                <elementReference>tmp_NewCase.Case_Sub_reason__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>tmp_NewCase.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>tmp_NewCase.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Case_Reason__c</field>
            <value>
                <elementReference>tmp_NewCase.New_Case_Reason__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <elementReference>tmp_NewCase.Origin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>tmp_NewCase.ParentId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>tmp_NewCase.Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product__c</field>
            <value>
                <elementReference>tmp_NewCase.Product__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>getCase.RecordType.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>tmp_NewCase.Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>tmp_NewCase.Subject</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <name>getCase</name>
        <label>getCase</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>populateVariables</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetNewCase</name>
        <label>GetNewCase</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ScreenSuccess</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseid</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>CloneCase</name>
        <label>CloneCase</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>NewCase</targetReference>
        </connector>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>tmp_NewCase.Subject</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>tmp_NewCase.Description</objectFieldReference>
        </fields>
        <fields>
            <name>CloneCase_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>CloneCase_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>tmp_NewCase.ContactId</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>tmp_NewCase.AccountId</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>tmp_NewCase.Case_Language__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>tmp_NewCase.Status</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>CloneCase_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>tmp_NewCase.Priority</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>tmp_NewCase.Product__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>tmp_NewCase.New_Case_Reason__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>tmp_NewCase.Case_Sub_reason__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ScreenSuccess</name>
        <label>ScreenSuccess</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Success</name>
            <fieldText>&lt;p class=&quot;ql-indent-1&quot;&gt;New case created&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;strong&gt;Subject:&lt;/strong&gt; {!GetNewCase.Subject}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;strong&gt;Case Number:&lt;/strong&gt; {!GetNewCase.CaseNumber}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;You will find the record on the &quot;&lt;strong&gt;Related Cases&lt;/strong&gt;&quot; section.&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getCase</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>caseid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>tmp_NewCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
