unpackaged/main/default/flows/TSSurvey_CSAT_Low_Score_alert.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>CSAT_Low_Score</name>
        <label>CSAT Low Score</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <actionName>TSSurvey__c.When_the_CSAT2015_survey_has_a_score_of_less_than_8_on_any_question_a_email_aler</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>TSSurvey__c.When_the_CSAT2015_survey_has_a_score_of_less_than_8_on_any_question_a_email_aler</nameSegment>
    </actionCalls>
    <actionCalls>
        <description>TS - Survey Low Score Alert</description>
        <name>TS_Survey_Low_Score_Alert</name>
        <label>TS - Survey Low Score Alert</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <actionName>TSSurvey__c.TS_Survey_Low_Score_Alert</actionName>
        <actionType>outboundMessage</actionType>
        <connector>
            <targetReference>CSAT_Low_Score</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>TSSurvey__c.TS_Survey_Low_Score_Alert</nameSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>UserHasBypassValidation</name>
        <label>UserHasBypassValidation</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Permission.Bypass_FLOW_Rule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TS_Survey_Low_Score_Alert</targetReference>
            </connector>
            <label>NO</label>
        </rules>
    </decisions>
    <description>Send an email alert and a outboud message when CSAT is low</description>
    <environments>Default</environments>
    <interviewLabel>TSSurvey - CSAT Low Score alert {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TSSurvey - CSAT Low Score alert</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>UserHasBypassValidation</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>(1 AND 2) OR (3 AND 4) OR (5 AND 6) OR (7 AND 8)</filterLogic>
        <filters>
            <field>Overall_Satisfaction_with_support__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Overall_Satisfaction_with_support__c</field>
            <operator>LessThan</operator>
            <value>
                <numberValue>4.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Satisfaction_with_professionalism__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Satisfaction_with_professionalism__c</field>
            <operator>LessThan</operator>
            <value>
                <numberValue>4.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Satisfaction_with_specialist_knowledge__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Satisfaction_with_specialist_knowledge__c</field>
            <operator>LessThan</operator>
            <value>
                <numberValue>4.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Effectiveness_of_resolution_of_case__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Effectiveness_of_resolution_of_case__c</field>
            <operator>LessThan</operator>
            <value>
                <numberValue>4.0</numberValue>
            </value>
        </filters>
        <object>TSSurvey__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
