unpackaged/main/default/flows/UpdateLegacyHasComments.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>areThereComments</name>
        <label>areThereComments</label>
        <locationX>182</locationX>
        <locationY>396</locationY>
        <defaultConnector>
            <targetReference>updateLegacyHasCommentsNO</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getCaseComments.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateHasComments</targetReference>
            </connector>
            <label>NO</label>
        </rules>
    </decisions>
    <description>It updates the LegacyHasComments</description>
    <environments>Default</environments>
    <interviewLabel>UpdateLegacyHasComments {!$Flow.CurrentDateTime}</interviewLabel>
    <label>UpdateLegacyHasComments</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getCaseComments</name>
        <label>getCaseComments</label>
        <locationX>182</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>areThereComments</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CaseComment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateHasComments</name>
        <label>updateHasComments</label>
        <locationX>50</locationX>
        <locationY>516</locationY>
        <inputAssignments>
            <field>legacy_Has_Comments__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateLegacyHasCommentsNO</name>
        <label>updateLegacyHasCommentsNO</label>
        <locationX>314</locationX>
        <locationY>516</locationY>
        <inputAssignments>
            <field>legacy_Has_Comments__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getCaseComments</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0128c000001bYl7AAE</stringValue>
            </value>
        </filters>
        <filters>
            <field>Legacy_LENGUID__c</field>
            <operator>LessThan</operator>
            <value>
                <numberValue>36.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <dateTimeValue>2023-01-01T00:00:00.000Z</dateTimeValue>
            </value>
        </filters>
        <object>Case</object>
        <schedule>
            <frequency>Once</frequency>
            <startDate>2023-04-23</startDate>
            <startTime>12:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
</Flow>
